aside {
    width: clamp(220px, 40%, 320px);
    z-index: 999999999;

    position: fixed;
    left: -100%; top: 0; bottom: 0;
    transition: left 0.5s ease-in-out;

    box-shadow: 5px 0 15px var(--gray--500);
    background-color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    & > * {
        width: 100%;
    }

    header {        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 0 var(--gap);
        margin: 0;
        background-color: var(--gray--300);
        border-bottom: none;
    }
    nav {
        padding: var(--gap);
        overflow-y: auto;
    }
    & > footer {
        nav {
            padding: var(--gap--half);
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1 0;
        }
    }    
}
aside.open {
    left: 0;
}