aside {
    width: clamp(220px, 40%, 320px);
    z-index: 999999999;

    position: fixed;
    left: -380px;
    top: 0; bottom: 0;

    transition: left .35s ease-in-out;
    overflow-y: auto;

    background-color: var(--white);
    box-shadow: 5px 0 15px var(--gray--500);

    header {
        position: sticky;
        top: 0; left: 0; right: 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 0 var(--gap);
        margin: 0;
        background-color: var(--gray--300);
        border-bottom: none;
    }
    nav {
        padding: var(--gap);
    }
    & > footer {
        position: absolute;
        left: 0; right: 0; bottom: 0;
        background-color: var(--blue--50);
        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1 0;
        }
    }    
}
aside.open {
    left: 0;
}