.justify--between {
    justify-content: space-between;
}
.justify--end {
    justify-content: end;
}
.justify--start {
    justify-content: start;
}
.justify--center {
    justify-content: center;
}
.align--center {
    align-items: center;
}
.align--top {
    align-items: start;
}
.align--bottom {
    align-items: end;
}
.align--baseline {
    align-items: baseline;
}