dialog#modal {
    width: clamp(320px, 96%, 980px);
    
    position: relative;
    padding: var(--gap);
    padding-top: calc(var(--gap) * 3.5);
    
    border: none;
    border-radius: var(--border-radius--md);
    box-shadow: 3px 3px 15px var(--black);

    #modal-close-btn 
    {
        outline: none;
        padding: 0;
        position: absolute;
        top: var(--gap--half); right: var(--gap--half);
        background-color: transparent;
    }
}
::backdrop { background-color: var(--black); opacity: .90; }